
# folder ignore
.idea/**/*
psd-photoshop/**/*
node_modules/**/*

# dist/**/* закомител для того чтобы отобразить сайт на github

rezerv/**/*
.vscode/**/*
task/**/*
# files ignore
*.iml
*.xml
*.psd
lint.yml
package-lock.json

.DS_Store/**/*
node_modules
package-lock.json

