<section class="advantages">
    <h2 class="title advantages-title ">преимущества стратегии</h2>
    <ul class="strategy wrapper row">
        <li class="strategy-badge row-cols-lg-1 col-md-6 col-lg-6 col-xl-3">
            <img src="img/icons/man.png" alt="" width="48" height="40" class="strategy-badge-icons"
                width="40" height="40">
            <span class="strategy-badge-title">персональний ментор</span>
            <p>Первые 3 месяца каждый партнер работает с персональным ментором и обучаеться стратегии</p>
        </li>
        <li class="strategy-badge col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <img src="img/icons/clock.png" alt="" width="43" height="40" class="strategy-badge-icons">
            <span class="strategy-badge-title">пассивный метод </span>
            <p>Стратегия не потребует много времени, достаточно выделять 30 минут в день </p>
        </li>
        <li class="strategy-badge col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <img src="img/icons/pc.png" alt="" width="55" height="40" class="strategy-badge-icons">
            <span class="strategy-badge-title">простота и доступность</span>
            <p>Весь рабочий процесс прост и доступен. Все необходимые знания получишь во время обучения </p>
        </li>
        <li class="strategy-badge col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <img src="img/icons/case.png" alt="" width="50" height="40" class="strategy-badge-icons">
            <span class="strategy-badge-title">быстрый результат </span>
            <p>Первая прибыль уже через месяц после запуска стратегии, выделяя 30 минут в день </p>
        </li>
    </ul>
</section>