<section class=" form-bg">
    <div class="wrapper form form-box">
        <h2 class="form-title">Остались вопросы ?</h2>
        <span class="form-description">Отправьте заявку и наши эксперты бесплатно проконсультируют вас. Сделайте
            первый шаг к успешному заработку сейчас!
        </span>
        <form class="form-box-group row">
            <div class="form-group">
                <input type="name" class="form-control" id="exampleInputName" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="exampleInputPhone" placeholder="Телефон">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Электронная почта">
            </div>
        </form>
        <button type="submit" class="btn btn-primary">отправить</button>
    </div>

</section>