<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document Test</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Montserrat:wght@400;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.min.css">
</head>

<body>
	<!-- Header -->
    //= header.html
	<!-- Advantages-->
    //= advantages.html
	<!-- Personal mentor -->
    //= personal.html
	<!-- Criterias -->
    //= сriterias.html
	<!-- Review -->
    //= reviews.html
	<!-- Form Bottom -->
    //= form.html
	<!-- Footer -->
    //= footer.html
	<script src="js/main-min.js"></script>
</body>

</html>