<section class="personal wrapper">
    <div class="personal-img-piple ">
        <img src="img/piple.png" width="640" height="420" alt="">
    </div>
    <div class="personal-icons-info ">
        <h2 class="title personal-title">персональний наставник </h2>
        <ul class="icons-info">
            <li class="info-text">Индивидуальный план обучения.</li>
            <li class="info-text">Разработка персональной стратегии развития.</li>
            <li class="info-text">Практические занятия в процессе обучения.</li>
            <li class="info-text">Профиссиональный разбор ошибок и поиск решений .</li>
            <li class="info-text">Рекомендации по увеличению доходности.</li>
            <li class="info-text">Онлайн общение с наставником.</li>
            <li class="info-text">Постоянная поддержка на всех этапах.</li>
        </ul>
        <button class="btn">начать обучение</button>
    </div>
</section>