<section class="reviews">
    <h2 class="title reviews-title">отзывы успешных партнеров </h2>
    <div class="reviews-card-box wrapper">
        <div class="card">
            <div class="card-body">
                <p class="card-review">Всего за пару месяцев моя жизнь переменилась полность, я понял,
                    что для хорошего заработка необязательно много работать нужно просто правильно. Гланое вовремя
                    начать и не бояться!
                </p>
                <p class="card-text user-name">Даня Соловьев</p>
                <p class="card-text">
                    <small class="text-muted">3 месяца с нами </small>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-review">Я очень долго искала способ быстрого и стабильного заработка в интернете ведь
                    сегоднешняя систуация в стране не позволяет найти хорошую работу, с которой хватало бы на жизнь.
                    Сейчас материальных проблем гараздо меньше.
                </p>
                <p class="card-text user-name">Ана Банина</p>
                <p class="card-text"><small class="text-muted">26 месяца с нами </small></p>
            </div>
        </div>
        <div class="card ">
            <div class="card-body">
                <p class="card-review">Иза за постоянных кредитов стал вопрос о дополнительном заработке. К счастью
                    мне предоставили возможность заработать. Научили, обяснили и теперь у меня есть хороший
                    пассивный
                    доход. Спасибо.
                </p>
                <p class="card-text user-name">Игорь Ткачев</p>
                <p class="card-text"><small class="text-muted">18 месяца с нами </small></p>
            </div>
        </div>
        <div class="card card-none">
            <div class="card-body">
                <p class="card-review">Я очень долго искал способ быстрого и стабильного заработка в интернете ведь
                    сегоднешняя систуация в стране не позволяет найти хорошую работу, с которой хватало бы на жизнь.
                    Сейчас материальных проблем гараздо меньше.
                </p>
                <p class="card-text user-name">Игорь Вакинин</p>
                <p class="card-text"><small class="text-muted">26 месяца с нами </small></p>
            </div>
        </div>
    </div>

    <button class="btn">стать командой</button>

</section>