<section class="сriterias wrapper">
    <h2 class="title сriterias__title">критерии выбора</h2>
    <div class="сriterias-box_grid">
        <div class="card">
            <img class="card-img-top" src="img/icons/zamok.png" width="25" height="30" alt="">
            <div class="card-body">
                <h3 class="card-title">безопасность-это главное</h3>
                <p class="card-text">Знать что кошелек безопасен,очень важно,и этот вопрос нельзя игнорировать.
                    Вы всегда должны проверять, какой протокол использовать на сайте. Также, стоит узнать,
                    используеться ли
                    двухфакторная система авторизации для доступа к вашему кошельку. Это только некорые важные
                    моменты.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/icons/piple.png" width="38" height="38" alt="">
            <div class="card-body">
                <h3 class="card-title">партнерские программы</h3>
                <p class="card-text">Важно знать,что партнерские программы не только выгодны и прибыльны, но
                    и максимально прозрачны.Возможность получения в любой момент актуальной статистики и
                    полный список ваших рефералов в личном кабинете. Все правила реферальной программы должны
                    быть доступны и максимально понятными.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/icons/medal.png" width="20" height="38" alt="">
            <div class="card-body">
                <h3 class="card-title">авторитетность и доверие</h3>
                <p class="card-text">Не рекомендуеться выбирать электронный кошелек, который только
                    недавно созда. За годы работы компания обязана заслужить репутацию безопасного
                    сервиса для хранения цифровых денег. Важно ознакомиться также с отзывами и независимыми
                    обзорами о выбранном электронном кошельке.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/icons/proc.png" width="30" height="38" alt="">
            <div class="card-body">
                <h3 class="card-title">комиссия за вывод</h3>
                <p class="card-text">Перед тем, как открыть электронный кошелек, и начать его использование,
                    обязательно прочтите все правила, прописанные в договоре-офере. Даже если за возможность
                    использования услуг сервиса вам платить не придется, то чтобы вывести деньги на карту
                    банка, комиссию внести придется в любом случае.
                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/icons/icons_24.png" width="38" height="38" alt="">
            <div class="card-body">
                <h3 class="card-title">обратная связь</h3>
                <p class="card-text">Как будущему клиенту сервиса, важно знать о моментах работы службы поддержки.
                    Главные
                    критерии службы поддержки - скорости ответа, полезность полученного сообщения и, конечно,
                    качество общения.
                    Также обязательно учитывайте какие предоставляются варианты связи с технической поддержкой.

                </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="img/icons/phone.png" width="20" height="38" alt="">
            <div class="card-body">
                <h3 class="card-title">легкость использования</h3>
                <p class="card-text">Требуется учитывать насколько просто применять выбранный электронный кошелек.
                    Удобство и функциональность - это один из основных критериев, на который стоит обращять внимание
                    при выборе.
                    Важно, чтобы функционал сервиса был интуитивно понятен и удобен в использовании.
                </p>
            </div>
        </div>
    </div>
    <button class="btn">узнать больше</button>
</section>