// Variables

// Color text
$primary-color: #000000;
$secondary-color:#ffffff;
$grey-color:#545456;

// Color BG
$secondary-color_bg:#ffffff;
$warning-color_red:#a20f2d;
$orang-color:#ff6633;
$grey-color_bg:#f7f7f7;
$blue-color-bg:#117ff8;

// Fonts
$font-primary: 'Montserrat',
sans-serif;
$font-secondary: 'Lato',
sans-serif;
$font-secondary_italic: 'Lato',
italic;

// @ Media
$mobile: 795px;
$tablet: 950px;
$laptop: 1110px;